---
const year = new Date().getFullYear();
---
<footer class="mt-6 py-6 border-t border-border">
  <div class="max-w-7xl mx-auto px-3 text-center text-sm text-dark-light">
    <a href="/" class="text-primary font-semibold font-serif text-lg md:text-xl">EspressoPicker</a>
    <p class="mt-2 text-sm text-gray-500">
      As an Amazon Associate I earn from qualifying purchases.
    </p>
    <!-- <p class="mt-2">© {year} EspressoPicker. All rights reserved.</p> -->
  </div>
</footer> 