---
---
<header class="py-6">
  <div class="max-w-10x mx-auto px-6 lg:px-16 flex items-center justify-between">
    <a href="/" class="text-2xl text-center sm:text-left md:text-3xl font-semibold font-serif text-primary">EspressoPicker</a>
    <nav class="flex gap-6 text-dark-light items-center">
  
      <button 
        data-tally-open="3yAAJ6" 
        data-tally-layout="modal" 
        data-tally-width="500" 
        data-tally-emoji-text="👋" 
        data-tally-emoji-animation="wave"
        class="cta-btn inline-flex items-center gap-1.5 px-3 py-2 bg-white border-2 border-primary text-black leading-none text-sm font-semibold rounded-lg hover:bg-white/20 focus:outline-none focus:ring-2 focus:ring-primary/50 transition-all duration-200 active:scale-[0.97]"
      >
      <span class="hidden sm:block">Share Your Suggestions</span>
      <span class="block sm:hidden">Suggestions</span>
      </button>
    </nav>
  </div>
</header>

<style>
  .cta-btn {
    box-shadow: 0px 2px 0px #17171733, inset 0px 3px 4px rgba(255, 255, 255, 0.25);
    transition: all 200ms ease;
  }

  .cta-btn:active {
    box-shadow: 0px 0px 0px #AF8A1D, inset 0px 3px 4px rgba(255, 255, 255, 0.25);
  }
</style> 